__Rolling Regression__

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [9]:
plt.plot(y, linewidth=3);

NameError: name 'y' is not defined

In [ ]:
#interpret x and y as log prices

In [ ]:
dS = np.diff(y)
dF = np.diff(x)

In [ ]:
dS[:10]

In [ ]:
dF[:10]

In [ ]:
dS.shape

In [ ]:
dF.shape

In [ ]:
M = 60
L = N - M

In [10]:
h = np.empty(L)

NameError: name 'L' is not defined

In [11]:
ibeg = 0
iend = M

for i in range(L):
    reg = linregress(dF[ibeg:iend], dS[ibeg:iend])
    h[i] = reg.slope
    ibeg += 1
    iend += 1

NameError: name 'M' is not defined

In [12]:
ts = pd.Series(h)

NameError: name 'h' is not defined

In [13]:
ts.plot(grid=True, color="orange");

NameError: name 'ts' is not defined

In [16]:
df = pd.DataFrame([[4,3], [4, 3]])

In [17]:
df

   0  1
0  4  3
1  4  3

In [18]:
df['dif'] = 1

In [19]:
df

   0  1  dif
0  4  3    1
1  4  3    1